.custom-sidebar-menu .ant-menu-item,
.custom-sidebar-menu .ant-menu-submenu-title {
  color: #003366  !important;
}

.custom-sidebar-menu .ant-menu-item:hover,
.custom-sidebar-menu .ant-menu-submenu-title:hover {
  background-color: darkblue !important;
  color: #D0EBFF !important;
}

.custom-sidebar-menu .ant-menu-item-selected {
  background-color: darkblue !important;
  color: #D0EBFF !important;
}

.custom-sidebar-menu .ant-menu-item-selected .ant-menu-title-content,
.custom-sidebar-menu .ant-menu-item:hover .ant-menu-title-content {
  color: #D0EBFF !important;
}

.custom-sidebar-menu .ant-menu-submenu-arrow {
  color: #003366  !important;
}

.custom-sidebar-menu .ant-menu-submenu-open > .ant-menu-submenu-title {
  background-color: white !important;
  color: #003366 !important;
}

.custom-sidebar-menu .ant-menu-sub {
  background-color: #D0EBFF !important;
}
